header {
    width: 100%;
    background-color: #F7F8FA;
    height: 8.8rem;
    display: flex;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav {
    display: flex;
    align-items: center;
}

header nav ul {
    display: flex;
    margin-right: 32px;
}

header nav ul li {
    margin-left: 32px;
}

header nav ul li:first-child {
    margin-left: 0px;
}

header nav .btn-primary {
    padding: 0.9rem 3.4rem;
}